body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

h1 {
    color: #5e5e5e;
    text-align: center;
    margin: 10px 0 10px 0;
}

.side-menu>p {
    text-align: right;
    font-weight: bold;
    color: #8d8d8d;
}

.wrapper {
    display: flex;
    height: 100%;
}

.image {
    flex: 3;
    background-image: url("https://images.unsplash.com/photo-1473800447596-01729482b8eb?auto=format&fit=crop&w=1950&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    background-position: center;
    background-color: #000000;
    transition: all 900ms ease-in;

}

.side-menu {
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    background-color: #eaecea;
}

.side-menu>p {
  margin: 0;
}

.thumbnails {
    margin: 20px 0 20px 0;
    overflow-y: scroll;
}

.thumb-img {
    width: 100px;
    height: 60px;
}

.thumbnails>img:hover {
    opacity: .9;
    width: 98px;
    height: 58px;
    outline: 2px solid #b3b3b3;
    cursor: pointer;
}

.thumb-wrapper {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 4px;
}

footer {
    position:relative;
}

footer>p {
    text-align: right;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    color: #8d8d8d;
}

a {
    text-decoration-line: none;
}

.thumbnails::-webkit-scrollbar {
    width: 5px;
}

.thumbnails::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

.thumbnails::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
}
